{{ define "header" }}
{{ partials.Include "page-header.html" . }}
{{ end }}

{{ define "main" }}
<div class="flex-l mw9 center ph3-ns flex-wrap justify-between mt4">
    {{/* メインコンテンツエリア (左側) */}}
    <article class="w-100 w-70-l ph3">
        <div class="cf pv3 ph3 ph4-ns">
            <header class="w-100">
                <aside class="instapaper_ignoref b helvetica tracked ttu">
                    {{ .CurrentSection.Title }}
                </aside>
                <h1 class="f1 athelas mt3 mb1">
                    {{- .Title -}}
                </h1>
                {{ if not .Date.IsZero }}
                <time class="f6 mv4 dib tracked" {{ fmt.Printf `datetime="%s" `
                    (.Date.Format "2006-01-02T15:04:05Z07:00" ) | safe.HTMLAttr }}>
                    {{- .Date | time.Format (compare.Default "January 2, 2006" .Site.Params.date_format) -}}
                </time>
                {{end}}
            </header>

            <div class="nested-copy-line-height lh-copy {{ $.Param " post_content_classes" | compare.Default "serif" }}
                f4 nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
                {{- .Content -}}
                {{- partials.Include "tags.html" . -}}
            </div>
        </div>
    </article>

    {{/* サイドバー (右側) */}}
    <aside class="w-100 w-30-l ph3 mt5 mt0-l">
        {{ partial "sidebar.html" . }}
    </aside>
</div>
{{ end }}